.main-div{
    margin: 0px;
    padding: 0px;
    background-color: #0f0f0f;
}
mat-card{
    padding: 0px;
    border-radius: 10px;
}
mat-toolbar{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.login-form{
    padding: 15px;
}

