<div class="main-screen" fxLayoutAling="center center" fxFlexFill>
    <div class="main-screen-menu">
        <span class="main-screen-map-menu-deck-title">Kiev</span><div class="main-screen-map-menu-deck-image"></div>
        <span class="main-screen-map-menu-deck-title">Mariupol</span><div class="main-screen-map-menu-deck-image"></div>
        <span class="main-screen-map-menu-deck-title">Odessa</span><div class="main-screen-map-menu-deck-image"></div>
        <span class="main-screen-map-menu-deck-title">Dnipro</span><div class="main-screen-map-menu-deck-image"></div>
    </div>
    <div class="main-screen-map">
        <div class="main-screen-map-image" fxLayout="column"></div>
        
        <div class="main-screen-cards">
            <span class="main-screen-cards-title">Cards</span>
            <div class="main-screen-cards-content">
                <img src="../../assets/mock.png" class="mock-card">

                <img src="../../assets/mock.png" class="mock-card">

                <img src="../../assets/mock.png" class="mock-card">

                <img src="../../assets/mock.png" class="mock-card">

                <img src="../../assets/mock.png" class="mock-card">

                <img src="../../assets/mock.png" class="mock-card">
            </div>
        </div>

    </div>
</div>